<div class="col s12">
  <div class="col s12 m4" style="margin-top: 1rem;">
    <div class="col s12 input-field">
      <div class="col s12">
        <button class="common positive-primary" style="width: 100%" (click)="getChartData()">Refresh Chart</button>
      </div>
    </div>
    <div class="col s12 input-field">
      <select [(ngModel)]="season" (change)="getChartData()" name="season" style="display: block; margin-top: 0.5rem">
        <option selected value="Season 5 2018">Season 5 - 2018</option>
        <option value="Season 6 2018">Season 6 - 2018</option>
      </select>
    </div>
  </div>
  <!--

		CHARTS

	-->
  <div class="col s12 m8">
    <div class="col s12">
      <h4>Rounds Won And Loss</h4>
      <div id="sideWinChartContainer" style="width: 100%; display: inline-block; margin-bottom: 2rem">
        <canvas id="sideWinCanvas">{{ sideWinChart }}</canvas>
      </div>
    </div>
  </div>
</div>
