<!-- 
 
			GUN STAT STUFF

	 -->
   <div class="col s12">
		<div class="col s12 m4" style="margin-top: 1rem">
			<div class="col s12 input-field">
				<select [(ngModel)]="gunName" (change)="getGunStats()" name="teamTwo" style="display: block; margin-top: 0.5rem">
					<option selected [value]=undefined>Select a Gun to Edit</option>
					<option *ngFor="let gunName of gunNames" [ngValue]="gunName">{{gunName}}</option>
				</select>
				<div class="col s12">
					<label>Damage</label>
					<input name="damage" type="number" [(ngModel)]="gun.damage" />
				</div>
				<div class="col s12">
					<label>Mag Size</label>
					<input name="magSize" type="number" [(ngModel)]="gun.magSize" />
				</div>
				<div class="col s12">
					<label>Points</label>
					<input name="points" type="number" [(ngModel)]="gun.points" />
				</div>
				<div class="col s12">
					<label>Rate Of Fire</label>
					<input name="rof" type="number" [(ngModel)]="gun.rof" />
				</div>
				<div class="col s12">
					<button class="btn" (click)="updateGunStats()" style="width: 100%">Update Gun</button>
				</div>
			</div>
		</div>
		<!--
		
				GUN STAT CHART
		
			-->
		<h3>Gun Stats</h3>
		<div class="col s12 m8">
			<div id="gunStatChartContainer" style="height: 300px; width: 100%; display: inline-block; margin-bottom: 2rem">
				<canvas id="gunStatCanvas">{{ gunStatChart }}</canvas>
			</div>
		</div>
	</div>